.project {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}
.projectTitle {
  text-align: center;
}

@media (max-width: 600px) {
  .projectsTitle {
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0;
  }
  .projectImage {
    width: 100%;
    border: 12px solid black;
  }
  .projectImageDiv {
    width: 100%;
  }
  .projectTitle {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 1rem 0 1.6rem 0;
  }
}