.name {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1.8rem;
}
.nameTitle {
  font-weight: 700;
  animation: appearTitle 1s ease-out forwards;
}
.nameText {
  animation: appearText 1s ease-out forwards;
}

@keyframes appearText {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes appearTitle {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@media (max-width: 599px) {
  .nameText {
    padding-right: 4rem;
  }
  .nameTitle {
    padding-left: 4rem;
  }
  .nameText, .nameTitle {
    font-size: 3.2rem;
  }
}
@media (min-width: 600px) {
  .nameText {
    padding-right: 8rem;
  }
  .nameTitle {
    padding-left: 8rem;
  }
  .nameText, .nameTitle {
    font-size: 3.6rem;
  }
}
@media (min-width: 1200px) {
 .name {
  justify-content: center;
  margin-left: 8rem;
 } 
}

