.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.6rem 1.2rem;
}
.menu {
  border: 0;
  background-color: white;
}

@media (max-width: 599px) {
  .logoIcon {
    width: 2.8rem;
  }
  .menuIcon {
    width: 2rem;
  }
}

@media (min-width: 600px) {
  .logoIcon {
    width: 3.6rem;
  }
  .menuIcon {
    width: 2.8rem;
  }
}