button {
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 1.4rem;
}
.darkMode {
  border: 0;
  background-color: white;
}

@media (max-width: 599px) {
  .logoIcon {
    width: 2.8rem;
  }
  .darkModeIcon {
    width: 2.8rem;
  }
}

@media (min-width: 600px) {
  .logoIcon {
    width: 3.6rem;
  }
  .darkModeIcon {
    width: 3.6rem;
  }
}