.footer {
  display: flex;
  justify-content: center;
  background-color: black;
}
.footerText {
  background-color: black;
  color: white;
  height: 6rem;
  font-size: 1.2rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}