* {
  box-sizing: border-box;
  font-size: 10px;
  overflow-x: hidden;
  font-family: 'Roboto Slab', sans-serif;
}
body {
  margin: 0;
}
.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode-icon {
  filter: brightness(0%) saturate(0%) contrast(1000%) invert(100%);
  -webkit-filter: brightness(0%) saturate(0%) contrast(1000%) invert(100%);
  -moz-filter: brightness(0%) saturate(0%) contrast(1000%) invert(100%);
}