* {
  box-sizing: border-box;
  font-size: 10px;
  overflow-x: hidden;
  font-family: 'Roboto Slab', sans-serif;
}
body {
  margin: 0;
}
@media (min-width:1200px) {
  .main {
    margin: 0 12vw;
  }
}